<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/left-right.css}">
    <title>ProgersLife | Home</title>
</head>

<body>
<div class="wrapper">
    <div class="main">
        <div class="title">
            <div class="username">Home</div>
        </div>
        <form th:action="@{/home}" method="get">
            <input type="submit" value="Home" />
        </form>
        <form th:action="@{/add_video}" class="newPost" method="post" th:object="${video}" enctype="multipart/form-data">
            <div class="create-post-body">
                <p>Title</p>
                <input th:field="*{title}" th:value="${video.title}">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</p>
                <p>Description</p>
                <input th:field="*{description}" th:value="${video.description}">
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
                <input type="hidden" name="courseId" th:value="${courseId}" />
                <input th:if="${video.id != 0}" type="hidden" th:field="*{id}" th:value="${video.id}">
                <input name="video" type="file" accept="video/*">
                <input type="hidden" th:field="*{path}" th:value="${video.path}">
                <button type="submit" class="btn">Save video</button>
            </div>
        </form>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/script.js}"></script></body>
</html>