<!DOCTYPE HTML>
<html lang="ru" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/left-right.css}">
    <link rel="shortcut icon" th:href="@{/css/favicon.ico}">
    <title>Создание курса</title>
</head>

<body>
<div class="wrapper">
    <div class="main">
        <form th:action="@{/home}" method="get">
            <input class="btn1" type="submit" value="Home" />
        </form>
        <div class="course">
            <div class="content">
                <span class="user-name" th:text="${course.title}"></span>
                <span class="time" th:text="${course.description}">3hrs</span>
            </div>
        </div>
        <form th:action="@{/create_course}" class="newPost" method="post" th:object="${course}">
            <div class="create-post-body">
                <p>Title</p>
                <input th:field="*{title}" th:value="${course.title}">
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</p>
                <p>Description</p>
                <input th:field="*{description}" th:value="${course.description}">
                <input th:if="${course.id != 0}" type="hidden"  th:field="*{id}" th:value="${course.id}">
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description Error</p>
                <button type="submit" class="btn">Save course</button>
            </div>
        </form>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/script.js}"></script></body>
</html>