<html lang="en" xmlns:th="http://www.thymeleaf.org/">
	<link rel="shortcut icon" th:href="@{/css/favicon.ico}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/css/login.css}">
<title>Please Login</title>
</head>
<body class="body1">
	<div th:fragment="content" class="div1">
		<form name="f" th:action="@{/registration}" method="post">
			<fieldset>
				<legend id="legend1"><strong>Please Login</strong></legend>
				<div th:if="${param.error}" class="alert alert-error" id="invalid1">Invalid
					username and password.</div>
				<div th:if="${param.logout}" class="alert alert-success" id="invalid2">You
					have been logged out.</div>
				<label for="username">Username</label> <input type="text"
					id="username" name="username" /> <label for="password">Password</label>
				<input type="password" id="password" name="password" />
				<div class="form-actions">
					<button type="submit" class="btn">Sign up</button>
				</div>
			</fieldset>
		</form>
	</div>
</body>
</html>
