<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    <link rel="stylesheet" th:href="@{/css/main.d08ef1f0b91214490173.css}">
    <link rel="shortcut icon" th:href="@{/css/favicon.ico}">
    <title>Интро в 3Ds Max</title>
</head>

<body>
<div id="sidebar-page-wrap" class="toggled">
    <nav class="navbar fixed-top sidebar" id="sidebar-wrapper" role="navigation">
        <div class="sidebar__top-wrap">
            <div class="sidebar__controls">
                <a th:href="@{/home}" class="sidebar__back-link truncate">
                <span class="sidebar__back-link-text">Интро в 3Ds Max</span>
                </a>
            </div>

            <div class="sidebar__task-list navbar-collapse offcanvas-collapse">
                <th:block th:each="video : ${course.videos}">
                    <a th:href="@{/video/} + ${video.id}" class="sidebar__task-list-item sidebar__task-list-item_active sidebar__task-list-item_completed">
                    <span class="sidebar__task-list-item-text" th:text="${video.title}"></span>
                    </a> <br>
                </th:block>
                

             <!--  th:href="@{/video/{id}(id=${course.videos.get(video.id + 1).id})}"    -->

                
            </div>
        </div>
    </nav>

    <div id="page-content-wrapper" class="container">

        <div class="exercise">
            <div class="exercise__content-wrap">
                <div class="content">

                    <h1><span class="user-name" th:text="${video.title}"></span></h1>

                    <div class="content__video-wrap">

                            <video width="auto" height="auto" controls>
                                <source th:src="${video.path}" type="video/mp4">
                            </video>
                            <br>

                        <span class="content__note">Примечание к видео</span>
                    </div>
                    <div class="delimiter"></div>

                    <!--<h2>СОДЕРЖАНИЕ:</h2>-->

                    <span class="time" th:text="${video.description}">3hrs</span>
                    <div class="delimiter"></div>

                </div>
            </div>
        </div>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div>
                <form th:action="@{/video/{id}/edit(id=${video.id})}" method="get">
                    <input type="submit" value="Edit Video" />
                </form>
            </div>
        </div>



    </div>


</div>

<!--<div class="wrapper">
    <div class="main">
        <form th:action="@{/home}" method="get">
            <input type="submit" value="Home" />
        </form>
        <div class="title">
            <div class="username">Home</div>
        </div>
        <div class="course">
            <div class="content">
                <span class="user-name" th:text="${video.title}"></span>
                <span class="time" th:text="${video.description}">3hrs</span>
                <video width="auto" height="240" controls style=" margin-left: auto; margin-right: auto; display: block;">
                    <source th:src="${video.path}" type="video/mp4">
                </video>
            </div>
        </div>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <div>
                <form th:action="@{/video/{id}/edit(id=${video.id})}" method="get">
                    <input type="submit" value="Edit Video" />
                </form>
            </div>
        </div>
    </div>
</div> -->
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" th:src="@{/scripts/script.js}"></script></body>
</html>